/* --- CSS RESET --- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --- CSS RESET END --- */

:root {

--grey-color: #B8B8D1;
--blue-color: #0A122A;
--yellow-color: #FFC145;
--white-color: #FBFAF8;
--pink-color: #FF6B6C;

    
}

/* Mobile phones */

/* Body */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: normal;
    font-size: 1rem;
    border-right: 4px solid black;
    border-left: 4px solid black; 
    
}




/* Navigation Bar */

.nav-container {
    
    
    padding: 20px;
    display: flex;
    background-color: var(--blue-color);
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    color: var(--white-color);
}

.nav-menu {
    display: flex;
    
}

.title {
    font-size: 1.3rem;
}


li {
    padding: 5px;
}

a {
    outline: none;
    padding: 2px 1px 0;
    text-decoration: none;
    color: var(--white-color)
    
}

a:link {
    color: var(--white-color);
}


.header-background {

    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #FFC145;
    border-bottom: 10px solid var(--grey-color);
    
   

}

.header-title {
    color: var(--darkblue-color);
    font-size: 1.3rem;
    padding: 10px;
    
    
}

.header-subtitle {
    font-size: 1.03rem;
    
}


.main {
    display:flex;
    align-content: center;
    flex-direction: column;
   
    

}


.background {

    padding:60px;
    
    



}

.text-box-index {
    display:flex;
    flex-direction:column;
    align-content: center;
    background-color: var(--blue-color);
    padding: 40px;
    border-radius: 15px;
    color: var(--white-color);
    
}

.text-box-index > div {
    padding: 10px;
    display: flex;
    align-content: center;
    
}


.random-game-btn-block {
    display:flex;
    justify-content: center;
    padding-bottom: 40px;
    background-color: var(--white-color);
}


.random-game-btn {
    background-color: var(--yellow-color);
    color: var(--blue-color);
    padding: 10px;
    border-radius: 10px;
    font-size: 1.05rem;
    border: 3px solid var(--blue-color);
    

}


.images-box {
    background-color: #B8B8D1;
    padding: 65px;
}


    
.bottom-box {
    background-color: var(--blue-color);
    padding: 36px;
}

 
/* Sign Up and Login*/


.signup {

    margin-top: 2px;
    
}
.form-wrapper {
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-color);
}

.form-wrapper > form {
    display: flex;
    flex-direction: column;
    
   
  }

  input {
    padding: 10px;
    font-size: 1.1rem;
    border: 10px solid var(--yellow-color);
    border-radius: 10px;
    
  }

.signup-wrapper {   /*Needs Fixing */

    display: flex;
    align-content: center;
}
.submit-btn {


    width: 100px
  }


  .signup-image-box { /*Placeholder for image*/
      padding: 153px;
      background-color: var(--grey-color);
  }

 .login-separation {
     padding: 70px;
     background-color: var(--blue-color);
 }

 .message-container {
     color: var(--white-color)
 }


/*Dashboard*/

.container {
    padding: 242px;
}










@media only screen and (min-width: 768px) {


 }