/* --- CSS RESET --- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --- CSS RESET END --- */

:root {

--grey-color: #DDDDDD;
--text-color: #232529;
--blue-color: #4db2e0;
--white-color: #F8F8FF;
--background-color: #232325d7;

    
}

/* Mobile phones */

/* Body */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: normal;
    background-color: var(--background-color);
    width: 100%
    
    
}


@media only screen and (max-width: 768px) {
    
    nav {
        position:relative;
        background-color: var(--grey-color);
        color: var(--text-color);
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    .nav-container {
        position: relative;
        color: var(--text-color);
        width: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }   


    h1 {
        padding-left: 7px;
        
        
    }

    .title-link{
        text-decoration: none;
        color: var(--text-color);
        font-size: 45px;

    }
    
    .title-link:hover {
        text-decoration: none;
        color: var(--blue-color)
    }

    .nav-menu {
        display:flex;
        justify-content: space-between;
        padding-right: 3vw;
    }
    
    li {
        padding-left: 3vw;
        
    }
    
    
    li a {
        text-decoration: none;
        font-size: 20px;
        color: var(--text-color);
    }
    
    li a:focus {
        text-decoration:none;
        color: var(--blue-color)
    }
    
    li a:hover {
        text-decoration:none;
        color: var(--blue-color)
    }
    
    
    .header-title{
        width: 100%;
        margin-top: 5%;
        padding-bottom: 3vw;
        border-bottom: 1vw solid var(--grey-color)
    }
    
    .index-header{
        display: inline-block;
        width: 100%;
    }
    
    h2 {
        width: 50%;
        margin: 0 auto;
        font-size: 5.5vw;
        color: var(--white-color)
    }
    
    .header-subtitle {
        width: 50%;
        margin: 0 auto;
    }
    
        
    
    .text-box-index {
        display: flex;
        flex-direction: column;
        padding:10vw 10vw 5vw 10vw;
        color: var(--white-color);
        text-align: center;
    }

    
    p {
        padding-bottom: 3vw;
        font-size: 3vw;
        width: 100%;
        text-align: justify;
    }
    

.button-div {
    text-align: center;
    padding-bottom: 10vw;
}

    .random-game-btn {
        margin-top: 1.5%;
        background-color: var(--grey-color);
        border: 1vw solid var(--grey-color);
        font-size: 3vw;
        width: 40%;
        border-radius: 0.5vw;
        font-weight: bold;
    }
    
    
    
  footer {
      font-size: 11px;
      color: var(--text-color);
  }



/*Signup & Login*/

.signup-title {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 7%;
    padding-bottom: 7vw;
}



.wrapper {
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
}

.signup-form {
  width: 400px;
  
  
    
}

.input-fields {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    width: 100%;
    margin-bottom: 1rem;
    height: 2rem;
    font-size: 1.2rem;
    background-color: var(--white-color);
    color: var(--text-color);
}


.submit-div {
   display: flex;
   justify-content: center;
}

.submit-btn {
    background-color: var(--grey-color);
    padding: 0.7rem;
    border-radius: 0.3rem;
    width: 10rem;
    font-size: 3vw;
    font-weight: bold;
}





/*Dashboard*/

.gameslist-title {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 4%;
}

.display-text {

    width: 100%;
    font-size: 30px;
    padding-left: 2%;
}

.dashboard-btns-group{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-content: center
}

.dashboard-btns {

    border-radius: 0.2vw;
    width: 100%;
    font-size: 3.5vw;
    
}



.dashboard-border {
    height: 5vw;
     
}



span {
    display: flex;
    width: 100%;
}

.games-list {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-around
}

.games-list img {
    width: 96.7vw;
}


.games-list h5 {
    font-size: 24px;
    color: var(--white-color)
}

.games-list p {
    font-size: 17px;
    color: var(--grey-color)
}

/*FAQ*/

.FAQ-title {
    
    margin-top: 7%; 
    width: 100%;
    margin-bottom: 5%;
}


/* ------------------------------------ */
.faq-h2 {
    font-weight: bold;
    font-size: 25px;
    padding-left: 15%;
    color: var(--white-color);
    width: 83vw;
    padding-bottom: 4vw;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: var(--grey-color);
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 1.3rem;
}
.accordion-section .panel-default .panel-title a:after {

    font-size: 3rem;
    content: "\f106";
    color: var(--blue-color);
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
    
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
    color: var(--white-color);
}
/* ------------------------------------ */

}


@media only screen and (min-width: 769px) {
    
    nav {
           position:relative;
           background-color: var(--grey-color);
           color: var(--text-color);
           width: 100%;
           height: 65px;
           display: flex;
           justify-content: space-between;
           align-items: center
       }
   
       .nav-container {
           position: relative;
           color: var(--text-color);
           width: 100%;
           display:flex;
           justify-content: space-between;
           align-items: center;
       }   
   
   
       h1 {
           padding-left: 7px;
           
           
       }
   
       .title-link{
           text-decoration: none;
           color: var(--text-color);
           font-size: 45px;

       }
       
       .title-link:hover {
           text-decoration: none;
           color: var(--blue-color)
       }
   
       .nav-menu {
           display:flex;
           justify-content: space-between;
           padding-right: 3vw;
       }
       
       li {
           padding-left: 3vw;
           
       }
       
       
       li a {
           text-decoration: none;
           font-size: 20px;
           color: var(--text-color);
       }
       
       li a:focus {
           text-decoration:none;
           color: var(--blue-color)
       }
       
       li a:hover {
           text-decoration:none;
           color: var(--blue-color)
       }
       
       
       .header-title{
           width: 100%;
           margin-top: 15px;
           padding-bottom: 10px;
           border-bottom: 8px solid var(--grey-color)           
       }
       
       .index-header{
       
           display: inline-block;
           width: 100%;
           
       }
       
       h2 {
           width: 50%;
           margin: 0 auto;
           font-size: 30px;
           color: var(--white-color);
           padding-left: 10px;
           padding-bottom: 5px;
       }
       
       .header-subtitle {
           width: 50%;
           margin: 0 auto;
           
       }
       
       .carousel-item {
           height: 400px ;
           background: no-repeat center center scroll;
           -webkit-background-size: cover;
           -moz-background-size: cover;
           -o-background-size: cover;
           background-size: cover;
           object-fit: cover !important;

       }
      
       .text-box-index {        
           padding-top: 60px;
           color: var(--white-color);
           padding-left: 50px;
           padding-bottom: 30px;
    
       }

       .button-div {
        text-align: center;
        padding-bottom: 10vw;
    }       
       p {
           padding-bottom: 40px;
           font-size: 25px;
           width: 100%;      
       }
       
       
       .random-game-btn {
           margin-top: 1.5%;
           background-color: var(--grey-color);
           width: 40%;
           height: 50px;
           font-size: 25px;
           border-radius: 3px;
           font-weight: bold;
           
       }
       
       
       footer {
           top: 90%; 
           left: 0; 
           right: 0; 
           bottom: 0;
           min-width: 200px;

       }
       
       footer p {
           margin-top: 60px;
           color: var(--white-color);
           font-size: 9px;
           text-align: center; 
       
       }
   
/*Signup&Login*/

.signup-title {
    
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 7%;
    padding-bottom: 35px;
    
}

.h2-signup {
    font-size: 3rem;
}


.wrapper {
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
}

.signup-form {
  width: 500px;
  
  
    
}

.input-fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
}

input {
    width: 100%;
    margin-bottom: 1rem;
    height: 3rem;
    font-size: 1rem;
    background-color: var(--white-color);
    color: var(--text-color);
}


.submit-div {
   display: flex;
   justify-content: center;
}

.submit-btn {
    background-color: var(--grey-color);
    padding: 0.7rem;
    border-radius: 0.3rem;
    width: 10rem;
    font-size: 1.3rem;
    font-weight: bold;
}


/*Dashboard*/

.gameslist-title {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 4%;
    text-align: center;
}

.display-text {

    width: 100%;
    font-size: 40px;
    padding-left: 2%;
}

.dashboard-btns-group{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-content: center;
    padding-left: 2%;
    

}

.dashboard-btns {
    
    border-radius: 0.2vw;
    width: 100%;
    font-size: 27px;
    padding: 16px;
 

}



.dashboard-border {
    height: 5vw;
     
}



span {
    display: flex;
    flex-direction: row;
    width: 100vw;

}

.games-list {
    padding-top: 10px;
    width: 100vw;

}

.games-list img {

    width: 100vw;
}

.games-list h5 {
    font-size: 36px;
    color: var(--white-color);
    width: 90vw;
}

.games-list p {

    font-size: 28px;
    color: var(--grey-color);
    width: 80vw;
}


/*FAQ*/

.faq-h2 {
    font-weight: bold;
    font-size: 35px;
    padding-left: 15%;
    color: var(--white-color);
    width: 83vw;
    padding-bottom: 4vw;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: var(--grey-color);
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 1.3rem;
}
.accordion-section .panel-default .panel-title a:after {

    font-size: 3rem;
    content: "\f106";
    color: var(--blue-color);
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
    color: var(--white-color);
}








}

 @media only screen and (min-width: 1025px) {


    nav {
        position:relative;
        background-color: var(--grey-color);
        color: var(--text-color);
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    .nav-container {
        position: relative;
        color: var(--text-color);
        width: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }   


    h1 {
        padding-left: 7px;
        
        
    }

    .title-link{
        text-decoration: none;
        color: var(--text-color);
        font-size: 45px;
        
        
    }
    
    .title-link:hover {
        text-decoration: none;
        color: var(--blue-color)
    }

    .nav-menu {
        display:flex;
        justify-content: space-between;
        padding-right: 3vw;
    }
    
    li {
        padding-left: 3vw;
        
    }
    
    
    li a {
        text-decoration: none;
        font-size: 20px;
        color: var(--text-color);
    }
    
    li a:focus {
        text-decoration:none;
        color: var(--blue-color)
    }
    
    li a:hover {
        text-decoration:none;
        color: var(--blue-color)
    }
    
    
    .header-title{
        width: 100%;
        margin-top: 15px;
        padding-bottom: 10px;
        border-bottom: 8px solid var(--grey-color)
        
    }
    
    .index-header{
    
        display: inline-block;
        width: 100%;
        
    
    }
    
    h2 {
        width: 50%;
        margin: 0 auto;
        font-size: 30px;
        color: var(--white-color);
        padding-left: 10px;
        padding-bottom: 5px;
    }
    
    .header-subtitle {
        width: 50%;
        margin: 0 auto;
        
    }
    
    .carousel-item {
        height: 600px ;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        object-fit: cover !important;

    }

    .text-box-index {
        
        padding-top: 80px;
        color: var(--white-color);
        padding-left: 150px;
        padding-bottom: 40px;
    }


    .button-div {
     text-align: center;
     padding-bottom: 10vw; 
 }

    
    p {
        padding-bottom: 40px;
        font-size: 25px;
        width: 100%;
    }
    
    
    .random-game-btn {
        margin-top: 1.5%;
        background-color: var(--grey-color);
        max-width: 340px;
        height: 50px;
        font-size: 25px;
        border-radius: 3px;
        font-weight: bold;
    }
    
    
    footer {
        top: 90%; 
        left: 0; 
        right: 0; 
        bottom: 0;
        min-width: 200px;
    }
    
    footer p {
        margin-top: 60px;
        color: var(--white-color);
        font-size: 9px;
        text-align: center; 
    }


/*Signup & Login */

.signup-title {
    
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 7%;
    padding-bottom: 45px;
    
}

.h2-signup {
    font-size: 3.5rem;
}


.wrapper {
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
}

.signup-form {
  width: 600px;
  
  
    
}

.input-fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 23px;
}

input {
    width: 100%;
    margin-bottom: 1rem;
    height: 3rem;
    font-size: 1.2rem;
    background-color: var(--white-color);
    color: var(--text-color);
}


.submit-div {
   display: flex;
   justify-content: center;
}

.submit-btn {
    background-color: var(--grey-color);
    padding: 0.7rem;
    border-radius: 0.3rem;
    width: 13rem;
    font-size: 1.3rem;
    font-weight: bold;
}





/*Dashboard*/

.gameslist-title {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.display-text {

    width: 100%;
    font-size: 30px;
    padding-left: 2%;
}

.dashboard-btns-group{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.dashboard-btns {

    border-radius: 0.2vw;
    width: 100%;
    font-size: 18px;
    
    
}



.dashboard-border {
    height: 50px;
     
}



span {
    display: flex;
    max-width: 100%;
}

.games-list {
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    max-width: 100%;
    padding-left: 20%;
    
}

.games-list div {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    text-align: center;
    
}

.games-list img {
    width: 65vw;
}


.games-list h5 {
    font-size: 35px;
    color: var(--white-color);
    text-align: left;
    
}

.games-list p {
    font-size: 17px;
    color: var(--grey-color);
    text-align: left;
}


/*FAQ*/




.faq-h2 {
    font-weight: bold;
    font-size: 45px;
    color: var(--white-color);
    margin-left: 15%;
    width: 83vw;
    padding-top: 3vw;
    padding-bottom: 4vw;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: var(--grey-color);
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 1.3rem;
}
.accordion-section .panel-default .panel-title a:after {

    font-size: 3rem;
    content: "\f106";
    color: var(--text-color);
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
    color: var(--white-color);
}

