/* --- CSS RESET --- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --- CSS RESET END --- */

:root {

--grey-color: #DDDDDD;
--text-color: #232529;
--blue-color: #4db2e0;
--white-color: #F8F8FF;
--background-color: #232325d7;

    
}

/* Mobile phones */

/* Body */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: normal;
    background-color: var(--background-color);
    width: 100%
    
    
}


@media only screen and (max-width: 768px) {
    
nav {
    position:relative;
    background-color: var(--grey-color);
    color: var(--text-color);
    width: 100%;
    height: 17vw;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.nav-container {
    position: relative;
    color: var(--text-color);
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    padding-left: 7px;
    
    
}

.title-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 7vw;
    
    
}

.title-link:hover {
    text-decoration: none;
    color: var(--blue-color)
}

.nav-menu {
    display:flex;
    padding-right: 7px;
}

li {
    padding-left: 10px;
    
}


li a {
    text-decoration: none;
    font-size: 3.5vw;
    color: var(--text-color);
}

li a:focus {
    text-decoration:none;
    color: var(--blue-color)
}

li a:hover {
    text-decoration:none;
    color: var(--blue-color)
}


.header-title{
    width: 100%;
    margin-top: 5%;
    padding-bottom: 3vw;
    border-bottom: 1vw solid var(--grey-color)
    
}

.index-header{

    display: inline-block;
    width: 100%;
    

}

h2 {
    width: 50%;
    margin: 0 auto;
    font-size: 5.5vw;
    color: var(--white-color)
}

.header-subtitle {
    width: 50%;
    margin: 0 auto;
    
}


    
}

.text-box-index {
    
    border-top: 1vw solid var(--grey-color);
    padding: 10vw;
    color: var(--white-color);
    border-bottom: 1vw solid var(--grey-color);
    text-align: justify;

}

p {
    padding-bottom: 3vw;
    font-size: 3vw;
    width: 100%;
    text-align: justify;
}


.random-game-btn {
    margin-top: 1.5%;
    background-color: var(--grey-color);
    border: 1vw solid var(--grey-color);
    width: 50%;
    border-radius: 0.5vw;
    font-weight: bold;
    
   
}


footer {

    margin-top: 5%;

}

footer p {

    color: var(--white-color);
    font-size: 2vw;
    text-align: center; 

}




/*Signup & Login*/





.signup-title {
    width: 50%;
    margin: 0 auto;
    margin-top: 7%;
    padding-bottom: 7vw;
}



.wrapper {

    margin-left: 3%;
    margin-right: 3%;
}

.signup-form {

    display: flex;
    flex-direction: column;

}

.input-fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

input {
    width: 100%;
    margin-bottom: 3vw;
    height: 5vw;
    font-size: 2.5vw;
    background-color: var(--white-color);
    color: var(--text-color);
    
}


.submit-div {
    margin-left: 0;
}

.submit-btn {
    background-color: var(--grey-color);
    padding: 2vw;
    border-radius: 1vw;
    width: 34vw;
    font-size: 3vw;
    font-weight: bold;
    

}





/*Dashboard*/

.gameslist-title {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 4%;
    
    
}

.display-text {

    width: 100%;
    font-size: 4.3vw;
    padding-left: 3.2%;
    
    
    
    
}


.games-list {
    margin-top: 5%;
    margin-left: 20%;
    
}

.dashboard-btns-group{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-content: space-around;

}

.dashboard-btns {
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 0.2vw;
    width: 100%;
    font-size: 3vw;
    margin-left: 10%

    
    
    
}

.dashboard-border {
    height: 5vw;
    border-bottom: 0.7vw solid var(--grey-color); 
}



.games-list img{
    width: 100%;
}

.games-list h5 {
    font-size: 4.5vw;
}

.games-list p {

    font-size: 3.5vw;
}

/*FAQ*/

.FAQ-title {
    
    margin-top: 7%; 
    width: 100%;
    margin-bottom: 5%;
    
}

.FAQ-h2 {
    
    display: inline-block;
    margin-left: 13%;
    width: 100%;
    font-size: 5.5vw;
}

}


@media only screen and (min-width: 768px) {
    
    

 }